<%- include("cabecera.ejs") %>
    <div id="containerBuscar" class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Type to filter" id="inpBuscador"
            name="buscador" />
        <button id="botonFiltro" class="input-group-text border-0">Buscar</button>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="text-center mt-5">
                <h1>Bienvenido publica Tu Blog ;)</h1>
            </div>
        </div>
    </div>

    <% for(let i=0; i < blogs.length; i++){ %>
        <div class="cartillaBlog">
            <div>
                <img src="<%=blogs[i].url_imagen%>" alt="not found">
            </div>
            <h1 id="titulo">
                <%=blogs[i].titulo%>
            </h1>
            <div>
                <h4 id="descripcion" class="descripcion_blogs">
                    <%=blogs[i].descripcion%>
                </h4>
            </div>
            <div>
                <a href="/editar/<%=blogs[i]._id%>"><button type="submit" id="editar"
                        name="btnEditar">Editar</button></a>
                <a href="/vermas/<%=blogs[i]._id%>"> <button>Ver m&aacutes</button> </a>
            </div>
            <h6>Subido el –––– <%=blogs[i].fecha[0]%>/<%=blogs[i].fecha[1]%>/<%=blogs[i].fecha[2]%> ––––</h6>
        </div>
        <% } %>

            <script>
                let todos = document.querySelectorAll(".descripcion_blogs");
                todos.forEach(ele => {
                    let des = ele.innerHTML;
                    des = des.substring(0, 40) + "...";
                    ele.innerHTML = des;
                });
                $(document).ready(() => {
                    $("#botonFiltro").click((e) => {
                        if ($("#inpBuscador").val().trim() != "") location.assign("/blogs/" + $("#inpBuscador").val());
                        else alert("Debes ingresar un criterio de búsqueda");
                    });
                });
            </script>
            <%- include("piePagina.ejs") %>