<%- include("cabecera.ejs") %>
    <form action="/guardarEdicion/<%=blogs._id%>" method="post" class="formGuardarCrear">
        <div id="guardar_guardar">
          <div class="positionGuardar">
            <input type="text" required name="autor" placeholder="Autor Name" value="<%=blogs.autor%>">
          </div>
          <div class="positionGuardar">
            <input type="text" required name="categoria" placeholder="Blog category" value="<%=blogs.categoria%>">
          </div>
          <div class="positionGuardar">
            <input type="text" required name="titulo" placeholder="Blog title" value="<%=blogs.titulo%>">
          </div>
          <div class="positionGuardar">
            <input type="text" required name="url_imagen" placeholder="URL image" value="<%=blogs.url_imagen%>">
          </div>
          <div class="positionGuardar">
            <textarea required name="descripcion" placeholder="Blog description"><%=blogs.descripcion%></textarea>
          </div>
          <div class="positionGuardar">
            <button type="submit">Save</button>
          </div>
        </div>
    </form>

</body>
</html>