<%- include("cabecera.ejs") %>
    <form id="editarF" style="width: 70%; margin: auto; text-align: center;">
        <div class="text-center mt-5">
            <input class="form-control" type="text" placeholder="Titulo" name="inpTitulo" value="<%=blogs.titulo%>">
            <br>
            <input class="form-control" type="text" placeholder="Pegue su URL" name="inpUrl" value="<%=blogs.url_imagen%>">
            <br>
            <textarea class="form-control" name="contenido" id="contenido" cols="30" rows="10" placeholder="descripcion"><%=blogs.descripcion%></textarea>
            <br>
            <button class="btn btn-primary" name="btnGuardar" id="btGuardar">Guardar</button>
        </div>
    </form>

    <script>
        $(document).ready(() => {
            $("#btGuardar").click((e) => {
                e.preventDefault();
                $.ajax({
<<<<<<< HEAD
                    url: '/guardarEdicion/<%=blogs._id%>',
                    type: 'post',
                    data: $("#editarF").serialize(),
                    success: (respuesta) => {
                        location.assign(respuesta);
=======
                    url: '/editar',
                    type: 'PUT',
                    data: { datosEditar: editarBlog },
                    success: (respuesta) => {
                        
                        alert("se edito" + respuesta)
>>>>>>> 4d4ea3203eebc108196a78c2504e9da3f4f41cec
                    }
                });
            });
        });
    </script>
</body>
</html>